* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: powderblue;
}

h1 {
  margin: 0 50px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fff;
}

nav a:hover {
  border-bottom: 1px #fff solid;
}

.navbar {
  background-color: skyblue;
}

.navbar .flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

nav ul {
  display: flex;
}

nav ul li {
  padding: 0 20px;
  margin: 0 10px;
}

nav ul li:nth-child(3) {
  margin: 0 100px 0 10px;
}

.container {
  margin: 0px auto;
}
